@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDiHnIHPy-YWnuBLi7BE_Z1h3x0dHaTGKg&v=3&callback=initMap">
</script>
<link rel="stylesheet" href="~/Content/bootstrap.min.css" />

<style>
    html,
    body {
        font-family: Arial, sans-serif;
        height: 100%;
        margin: 0;
        padding: 0;
    }

    #map {
        min-height: 100%;
        position: relative;
        align-content: center;
    }

    #topScrollBox {
        min-width: 100%;
        height: 200px;
    }
</style>
<select id="topScrollBox" multiple class="form-control" style="margin:auto; margin-top:200px; width:500px;">
    <option>1</option>
    <option>2</option>
    <option>3</option>
    <option>4</option>
    <option>5</option>
</select>
<div class="row" style="height:500px; margin-top:20px;">
    <div id="map"></div>
</div>
@*<script>
          var map;
          function initMap() {
              // Constructor creates a new map - only center and zoom are required.
              var mapDiv = document.getElementById('map');
            var map = new google.maps.Map(mapDiv, {
              center: {lat: 40.7413549, lng: -73.9980244},
              zoom: 13
            });
          }
    </script>*@


<section id="wrapper">
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDiHnIHPy-YWnuBLi7BE_Z1h3x0dHaTGKg&v=3&callback=initMap"></script>
    <article></article>
    <script>
function success(position) {
  var mapcanvas = document.createElement('div');
  mapcanvas.id = 'mapcontainer';
  mapcanvas.style.height = '400px';
  mapcanvas.style.width = '600px';

  document.querySelector('article').appendChild(mapcanvas);

  var coords = new google.maps.LatLng(position.coords.latitude, position.coords.longitude);

  var options = {
    zoom: 15,
    center: coords,
    mapTypeControl: false,
    navigationControlOptions: {
    	style: google.maps.NavigationControlStyle.SMALL
    },
    mapTypeId: google.maps.MapTypeId.ROADMAP
  };
  var map = new google.maps.Map(document.getElementById("map"), options);

  var marker = new google.maps.Marker({
      position: coords,
      map: map,
      title:"You are here!"
  });
}

if (navigator.geolocation) {
  navigator.geolocation.getCurrentPosition(success);
} else {
  error('Geo Location is not supported');
}

    </script>
</section>