@{
    ViewBag.Title = "Home Page";
}
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8"/>
    <title>Home Page</title>
    @*<script type="text/javascript" src="~/Scripts/jquery-1.11.1.min.js"></script>*@
    <link href="~/Content/styles/master.css" rel="stylesheet" />
</head>

<body class="bg">
    <div id="register-login">
        <h1>@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</h1>
    </div>
    <div id="text">
        <p>Register to find and join the thousands of people tailgating around the world!<br />Find tailgating parties to join or create a private event.</p>
    </div>
    @*<div id="text-slider">
        <h1 class="wel">Tailgate</h1>
        <h1 class="wel">Sports</h1>
        <h1 class="wel">Gameday</h1>
        <h1 class="wel">Social</h1>
    </div>*@
    <div class="images"></div>
    <section id="about" class="wow fadeIn animated">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-md-12 col-lg-12">
                    <div class="header">
                        <h1>Have a look</h1>
                        <p></p>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam tempus faucibus velit ac fermentum. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
                    </div>
                    <div class="col-sm-3 col-md-3 col-lg-3">
                        <div class="all">
                            <div class="home-options">
                                <h1><i class="fa fa-sun-o"></i></h1>
                                <h1>Grill</h1>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam tempus faucibus velit ac fermentum. Cum sociis natoque penatibus et magnis.</p>
                            </div>
                            <div class="home-options2">
                                <h1><i class="fa fa-beer"></i></h1>
                                <h1>BYOB</h1>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam tempus faucibus velit ac fermentum. Cum sociis natoque penatibus et magnis.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-6 col-lg-6">
                        <div class="display-product wow fadeInUp" data-wow-delay="0.5s">
                            @*<img src="~/Images/bbqIcon.jpg" alt="laptop" width="100%">*@
                        </div>
                    </div>
                    <div class="col-sm-3 col-md-3 col-lg-3">
                        <div class="all">
                            <div class="home-options">
                                <h1><i class="fa fa-users"></i></h1>
                                <h1>Sports talk</h1>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam tempus faucibus velit ac fermentum. Cum sociis natoque penatibus et magnis.</p>
                            </div>
        @* edit class name*@
                            <div class="home-options2">
                                <h1><i class="fa fa-bullseye"></i></h1>
                                <h1>Tailgate games</h1>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam tempus faucibus velit ac fermentum. Cum sociis natoque penatibus et magnis.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div id="backToTop">
        <a href="#" class="scrollToTop"><img src="~/Images/up-arrow.png"></a>
    </div>
    <script type="text/javascript" src="~/Scripts/scripts.js"></script>
</body>
</html>