@{
    ViewBag.Title = "Home Page";
}
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>Home Page</title>
    <link href="~/Content/styles/master.css" rel="stylesheet" />
</head>

<body class="bg">
    <div class="container" style="align-content: center">
        <div class="row">
            <div class="col-xs-12">
                <div id="register-login">
                    <div id="text-slider">
                        <h1 class="wel">TailgateLive</h1>
                        <h1 class="wel">Sports</h1>
                        <h1 class="wel">Gameday</h1>
                        <h1 class="wel">Social</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="text">
        <p>Join the thousands of people tailgating around the world!</p>
        <p>Find tailgating parties to join or create a private event.</p>
        @if (Request.IsAuthenticated)
        {
            <p id="seeScheduleButton">
                <a class="btn btn-default btn-lg" href="/NFLGameSchedules/Index">See NFL game schedule <i class="fa fa-angle-double-right"></i></a>
            </p>
        }
        else
        {
            <p id="registerButton">
                <a class="btn btn-default btn-lg" href="/Account/Register"><i class="fa fa-pencil"></i> Register</a>
            </p>
        }
    </div>
        <div id="scroll-bottom">
            <a id="get-down" class="wow bounce animated" data-wow-offset="10" data-wow-iteration="100000000" href="#about"><i class="fa fa-chevron-circle-down"></i></a>
        </div>
    <div class="images"></div>
    <section id="about" class="wow fadeIn animated">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-md-12 col-lg-12">
                    <div class="header">
                        <h1>Have a look</h1>
                        <p id="headerPara">TailgateLive is a live chat application for anyone, and everyone, who is interested in setting up group events for tailgating parties. You can host events and/or attend events in your area. Public events are encouraged (if you want to make friends) but private event options are also available.
</p>
                    </div>
                    <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3">
                        <div class="all">
                            <div class="home-options">
                                <h1><i class="fa fa-cutlery"></i></h1>
                                <h1>Grill</h1>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam tempus faucibus velit ac fermentum. Cum sociis natoque penatibus et magnis.</p>
                            </div>

                        </div>
                    </div>
                    <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3">
                        <div class="all">
                            <div class="home-options2">
                                <h1><i class="fa fa-beer"></i></h1>
                                <h1>BYOB</h1>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam tempus faucibus velit ac fermentum. Cum sociis natoque penatibus et magnis.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3">
                        <div class="all">
                            <div class="home-options">
                                <h1><i class="fa fa-users"></i></h1>
                                <h1>Sports talk</h1>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam tempus faucibus velit ac fermentum. Cum sociis natoque penatibus et magnis.</p>
                            </div>

                        </div>
                    </div>
                    <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3">
                        <div class="all">
                            <div class="home-options2">
                                <h1><i class="fa fa-bullseye"></i></h1>
                                <h1>Tailgate games</h1>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam tempus faucibus velit ac fermentum. Cum sociis natoque penatibus et magnis.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="scroll-bottom" style=" color: black;">
                <a id="get-down" class="wow bounce animated" data-wow-offset="10" data-wow-iteration="100000000" href="#about"><i class="fa fa-chevron-circle-down"></i></a>
            </div>
        </div>
    </section>
    <section id="testmonials">
        <div class="testmonial">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12 col-md-12 col-lg-12">
                        <div class="header wow fadeIn animated">
                            <h1>Reviews</h1>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam tempus faucibus velit ac fermentum. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
                        </div>
                        <div class="people-says wow fadeIn animated">
                            <ul id="says">
                                <li>
                                    <img src="~/Images/11.png" alt="peoples">
                                    <h2>Mike Tyson</h2>
                                    <p><i class=" fa fa-quote-left"></i> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam tempus faucibus velit ac fermentum. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. <i class=" fa fa-quote-right"></i></p>
                                </li>
                                <li>
                                    <img src="~/Images/1.png" alt="peoples">
                                    <h2>Adam Levine</h2>
                                    <p><i class=" fa fa-quote-left"></i> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam tempus faucibus velit ac fermentum. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. <i class=" fa fa-quote-right"></i></p>
                                </li>
                                <li>
                                    <img src="~/Images/2.png" alt="peoples">
                                    <h2>Andrew Jackson</h2>
                                    <p><i class=" fa fa-quote-left"></i> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam tempus faucibus velit ac fermentum. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. <i class=" fa fa-quote-right"></i></p>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div id="backToTop">
        <a href="#" class="scrollToTop"><img src="~/Images/up-arrow.png"></a>
    </div>
    <script type="text/javascript" src="~/Scripts/scripts.js"></script>
</body>
</html>