@import url(https://fonts.googleapis.com/css?family=Lato:400,400italic,700);
#demotop{
	height: 80px;
	background-color: #ffd253;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 10000 !important;
}
#demotop .left a {
	padding-left: 30px;
	padding-top: 23px;
	display: block;
	margin-bottom: 10px;
	color: #222222;
	font-size: 25px;
	font-weight: 600;
	font-family: 'Lato', sans-serif;
	text-decoration: none;
}
#demotop .right{
	float: right;
	padding-right: 30px;
}
#demotop .right {
	position: absolute;
	top: 0px;
	right: 10px;
}
#demotop .right a{
	display: inline-block;
	font-family: 'Lato', sans-serif;
	margin-top:20px;
	color: rgba(255,255,255,0.9);
	background-color: #222;
	padding: 10px 30px;
	text-decoration: none;
	font-family: 'Lato', sans-serif;
	margin-left: 10px;
	font-size: 15px;
	text-transform: uppercase;

}
